body {
	background-color: #00BFFF;
	background-image: url("images/flowers.jpg");
}
html {
	line-height: 1.2em;
	font-size: 1em;
	font-family: font-family: "Times New Roman", Verdana, sans-serif;
}

div.body {
	position: sticky;
	height: 100%;
	width: 80%;
	background-color: white;
	margin-left: 10%;
	margin-top: 5%;
	overflow-x: hidden;
	text-align: center;
}
input {
	text-align: center;
	display: block;
	width: 100%;
	background: #f1f1f1;
	border: none;
	height: 10%;
	padding: 1em;
}
label {
	text-align: center;
	font-size: 2em;
	margin-left: 0em;
}
div {
	padding-bottom: .5em;
}
div.container_float {
	width:100%;
	float: none;
	padding-bottom: .5em;
}
div.container_float1 {
	width:100%;
	float: none;
	padding-bottom: .5em;
}
img {
	width: 100%;
	
}
div.img {
	padding-bottom: .5em;
}
@media screen and (min-width: 480px) {

}
	